[core]
    pager = delta
    autocrlf = input

[credential]
    helper = store

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
    clean = git-lfs clean -- %f

[pull]
    rebase = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    syntax-theme = Catppuccin Mocha
    line-numbers = true

[include]
    path = ~/.gitconfig-local

